@import url('https://fonts.googleapis.com/css?family=Cormorant|Playfair+Display+SC&display=swap');

html{
    font-family: 'Playfair Display SC', serif;
    background-color: rgb(243, 243, 245);
}
li *:last-child{
  text-decoration: none;
  color: rgb(190, 118, 147);
}
li *:last-child:hover{
  border-bottom: 1px solid rgb(65, 59, 62);
}
.contact{
    font-family: 'Cormorant', serif;
    background: rgb(156, 148, 110);
    padding: 2%;
    width: 300px;
    font-size: 1.3em;
    text-align: center;
    margin: 0 auto;
}
.contact > a {
    text-align: center;
    position: relative;
    color: rgb(250, 243, 243);
    text-decoration: none;
  }
  .contact > a:hover {
    color: white;
  }
  .contact > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .contact > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
 

  .textOnpic{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: rgb(255, 254, 254);
  line-height: 1.5em;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  width: 500px;
  padding: 3%;
  }
  .textOnpic h1, .textOnpic h3{
      color: rgb(255, 254, 254);
      text-align: center;
  }
  .textOnpicAbout{
    position: absolute;
    top: 50%;
    left: 30%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: rgb(12, 11, 11);
    line-height: 1.5em;
    background-color: rgba(255, 255, 255, 0.623);
    width: 500px;
    padding: 3%;
  }


 